<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Interfaz Principal</title>
    <!-- rgba(71, 147, 177, 0,4) -->
</head>
<body style="background-color:rgba(225, 230, 229, 0.596); ">
  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <h2 class="navbar-brand" style="font-family: monospace cursive; color: white;">Gestion de Inscritos</h2>
    </div>
 
  </nav>
  <div class="container text-center" style="margin-top: 80px;">
    <div class="row">
      <div class="col">
      
        <div>
        <a class="btn btn-outline-dark" href="/inscritos" role="button">CRUD</a>
      </div>
      </div>
     
     
      <div class="col">
       
        <div>
          <a href="/inscritoApi" class="btn btn-outline-dark">API</a>
      </div>
      </div>
    </div>
   
   <br>
   <br>
   <br>
    <div class="row">
      <div class="col">
       
        <div>
          <a class="btn btn-outline-dark" href="/inscritocbw" role="button">Class Base View</a>
      </div>

      </div>
      <div class="col">
      
        <div>
          <a class="btn btn-outline-dark" href="/inscritofbw" role="button">Function Base View</a>
      </div>
      </div>
   
      </div>
    </div>
  </div>

      <div class="" style="background-color: #127fa0; margin-top: 215px;">
      <br>
      <br>
      <br>
      <br>
    </div>
    </body>

   

    